Source: node-d3-chord
Section: javascript
Priority: optional
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Pirate Praveen <praveen@debian.org>
Build-Depends:
 debhelper-compat (= 13)
 , nodejs
 , pkg-js-tools
 , node-tape <!nocheck>
 , rollup
 , node-rollup-plugin-terser
 , node-d3-array (>= 1) <!nocheck>
 , node-d3-path (>= 1) <!nocheck>
Standards-Version: 4.5.1
Homepage: https://d3js.org/d3-chord/
Vcs-Git: https://salsa.debian.org/js-team/node-d3-chord.git
Vcs-Browser: https://salsa.debian.org/js-team/node-d3-chord
Testsuite: autopkgtest-pkg-nodejs

Package: node-d3-chord
Architecture: all
Depends:
 ${misc:Depends}
 , nodejs
 , node-d3-array (>= 1)
 , node-d3-path (>= 1)
Description: Visualize relationships or network flow
 This module can be used to visualize relationships or network flow with an
 aesthetically-pleasing circular layout.
 .
 Node.js is an event-based server-side JavaScript engine.
